Repository netobserv/network-observability-console-plugin, pull requests merged in 2024-09, with the labels that each got.

#578 NETOBSERV-1768 force tooltip style
  web/src/components/drawer/record/record-field.css
Labels: lgtm, approved, qe-approved, ok-to-test

#590 NETOBSERV-1816 allow n/a filter
  web/locales/en/plugin__netobserv-plugin.json
  web/src/components/toolbar/filters-toolbar.tsx
  web/src/components/toolbar/filters/autocomplete-filter.tsx
  web/src/components/toolbar/filters/text-filter.tsx
  web/src/model/filters.ts
  web/src/utils/filter-definitions.ts
Labels: lgtm, approved, qe-approved, ok-to-test

#591 NETOBSERV-1833: decompose TCPflags bitfield
  web/locales/en/plugin__netobserv-plugin.json
  web/src/components/drawer/record/record-field.tsx
  web/src/utils/__tests__/tcp-flags.spec.ts
  web/src/utils/filter-options.ts
  web/src/utils/tcp-flags.ts
  web/src/utils/tcp_flags.ts
Labels: lgtm, ok-to-test, jira/valid-reference

#589 NETOBSERV-1538 & NETOBSERV-1819 & NETOBSERV-1813 & NETOBSERV-1812 & NETOBSERV-1798 error messages and UI polishing
  pkg/handler/clients.go
  pkg/handler/loki.go
  pkg/handler/resources.go
  pkg/handler/resources_test.go
  pkg/handler/status.go
  pkg/handler/topology.go
  pkg/prometheus/client.go
  pkg/server/routes.go
  pkg/server/server_test.go
  web/locales/en/plugin__netobserv-plugin.json
  web/moduleMapper/dummy.tsx
  web/src/api/loki.ts
  web/src/api/routes.ts
  web/src/components/drawer/netflow-traffic-drawer.tsx
  web/src/components/messages/empty.css
  web/src/components/messages/empty.tsx
  web/src/components/messages/error.tsx
  web/src/components/messages/secondary-action.tsx
  web/src/components/messages/status-texts.tsx
  web/src/components/netflow-traffic-tab.tsx
  web/src/components/netflow-traffic.css
  web/src/components/netflow-traffic.tsx
  web/src/components/slider/scope-slider.tsx
  web/src/components/tabs/netflow-overview/__tests__/netflow-overview.spec.tsx
  web/src/components/tabs/netflow-overview/netflow-overview.tsx
  web/src/components/tabs/netflow-table/__tests__/netflow-table.spec.tsx
  web/src/components/tabs/netflow-table/netflow-table.tsx
  web/src/components/tabs/netflow-topology/2d/topology-content.tsx
  web/src/components/tabs/netflow-topology/netflow-topology.tsx
  web/src/components/toolbar/filters/autocomplete-filter.tsx
  web/src/model/filters.ts
  web/src/model/netflow-traffic.ts
  web/src/utils/context.ts
  web/src/utils/filter-options.ts
Labels: lgtm, ok-to-test

#594 NETOBSERV-1783 invalidate local storage values
  web/src/components/dropdowns/__tests__/metric-type-dropdown.spec.tsx
  web/src/components/dropdowns/metric-type-dropdown.tsx
  web/src/components/dropdowns/topology-display-dropdown.tsx
  web/src/components/dropdowns/topology-display-options.tsx
  web/src/components/netflow-traffic.tsx
  web/src/components/tabs/netflow-overview/panel-kebab.tsx
  web/src/components/toolbar/view-options-toolbar.tsx
  web/src/model/netflow-traffic.ts
  web/src/utils/router.ts
Labels: lgtm, approved, qe-approved, ok-to-test

#587 NETOBSERV-1818: Topology split pod when using two IPs
  web/src/utils/ids.ts
Labels: lgtm, jira/valid-reference
